<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ translations.title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
    rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='resources/logo/favicon.png') }}"
  />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img
            src="{{ url_for('static', filename='resources/logo/logov2.png') }}"
            alt="Logo"
          />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/calculator.html">{{ translations['calculator'] }}</a></li>
          <li><a href="/about.html">{{ translations['about'] }}</a></li>
        </ul>
      </nav>
    </header>

    <div class="calculator-container">
      <div class="language-buttons">
        <a
          href="/set_language/ro"
          class="btn {{ 'active' if language == 'ro' else '' }}"
          >Română</a
        >
        <a
          href="/set_language/en"
          class="btn {{ 'active' if language == 'en' else '' }}"
          >English</a
        >
        <a
          href="/set_language/fr"
          class="btn {{ 'active' if language == 'fr' else '' }}"
          >Français</a
        >
      </div>

      <div id="calculator-sections">
        <div id="simple-calculator" class="calculator-section">
          <h2>{{ translations.simple_calculator }}</h2>
          <form method="POST" action="/calculate_simple">
            <div>
              <label for="salary">{{ translations.enter_salary }}</label>
              <input
                type="number"
                id="salary"
                name="salary"
                required
                placeholder="3000"
              />
            </div>
            <div>
              <label for="type">{{ translations.calculation_type }}</label>
              <select id="type" name="type" required>
                <option value="net">
                  {{ translations.calculate_net_salary }}
                </option>
                <option value="gross">
                  {{ translations.calculate_gross_salary }}
                </option>
              </select>
            </div>
            <button type="submit">{{ translations.calculate }}</button>
          </form>
          <button class="advanced-calculator" onclick="toggleCalculator('advanced')">
            {{ translations.advanced_calculator }}
          </button>
        </div>

        <div id="advanced-calculator" class="calculator-section" style="display: none;">
          <h2>{{ translations.advanced_calculator }}</h2>
          <form method="POST" action="/calculate_advanced">
            <div>
              <label for="full_salary">{{ translations.full_salary }}</label>
              <input
                type="number"
                id="full_salary"
                name="full_salary"
                required
              />
            </div>
            <div>
              <label for="meal_tickets">{{ translations.meal_tickets }}</label>
              <input type="number" id="meal_tickets" name="meal_tickets" />
            </div>
            <div>
              <label for="ticket_value">{{ translations.ticket_value }}</label>
              <input type="number" id="ticket_value" name="ticket_value" />
            </div>
            <div>
              <label for="dependents">{{ translations.dependents }}</label>
              <input type="number" id="dependents" name="dependents" />
            </div>
            <div>
              <label for="children">{{ translations.children }}</label>
              <input type="number" id="children" name="children" />
            </div>
            <div>
              <label for="tax_exempt">{{ translations.tax_exempt }}</label>
              <select id="tax_exempt" name="tax_exempt">
                <option value="yes">{{ translations.yes }}</option>
                <option value="no">{{ translations.no }}</option>
              </select>
            </div>
            <button type="submit">{{ translations.calculate }}</button>
          </form>
          <button onclick="toggleCalculator('simple')">
            {{ translations.simple_calculator }}
          </button>
        </div>
      </div>

      {% if result %}
      <div class="result">
        <h2>{{ translations.final_result }}: {{ result }} lei</h2>
      </div>
      {% endif %} {% if steps %}
      <div class="steps">
        <h3>{{ translations.calculation_details }}:</h3>
        <ul>
          {% for step in steps %}
          <li>{{ step }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <footer>
      <p>&copy; 2025 {{ translations['footer_text'] }}</p>
    </footer>
    </script>
  </body>
</html>
