<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salariul Meu</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="">
          <img
            src="{{ url_for('static', filename='resources/logo/logov2.png') }}"
            alt="Logo"
          />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="calculator.html">Calculator</a></li>
          <li><a href="about.html">About</a></li>
          <form method="POST" action="/set-language" class="language-form">
            <select name="language" onchange="this.form.submit()">
              <option value="ro" selected>Română</option>
              <option value="en">English</option>
              <option value="fr">Français</option>
            </select>
          </form>
        </ul>
      </nav>
    </header>
    <main>
      <div class="main-content">
        <div class="text-section">
          <h1>Salariul Meu</h1>
          <p>
            Soluția simplă și rapidă care te ajută să înțelegi exact cum se
            calculează salariul tău și câți bani îți rămân după taxe și
            contribuții
          </p>
          <a href="calculator.html" class="btn">Incearcă calculatorul</a>
        </div>
        <div class="image-section">
          <img
            src="{{ url_for('static', filename='resources/images/promo.jpg') }}"
            alt="Salariul Meu"
            class="main-image"
          />
        </div>
      </div>
      <div class="extra-content">
        <div class="extra-item">
          <img
            src="{{ url_for('static', filename='resources/logo/time-sand-svgrepo-com.svg') }}"
            alt="Timp Salvat"
          />
          <p>Salvează timp cu calcule precise</p>
        </div>
        <div class="extra-item">
          <img
            src="{{ url_for('static', filename='resources/logo/data-svgrepo-com.svg') }}"
            alt="Date Personalizate"
          />
          <p>Obține rezultate personalizate pe baza datelor tale</p>
        </div>
        <div class="extra-item">
          <img
            src="{{ url_for('static', filename='resources/logo/planning-svgrepo-com.svg') }}"
            alt="Planificare"
          />
          <p>Planifică-ți mai bine finanțele personale</p>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2025 Salariul Meu. Toate drepturile rezervate.</p>
    </footer>
  </body>
</html>
